.header {
    margin-top: 10px;
    margin-bottom: 50px;
}
.header .nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .title{
    padding-top: 33px;

}

.header .title>h2 {
    font-size: 50px;
    margin: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFEE58;
    text-align: center;
    line-height: 45px;
}

.header nav>ul {
    padding-left: 0;
    display: flex;
    list-style: none;
}

.header nav>ul>li {
    margin-right: 30px;
    cursor: pointer;
    font-size: 25px;
}

.header nav>ul>.activ {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #FFEE58;
}