.header {
    margin-top: 10px;
    margin-bottom: 50px;
}
.header .title>h2 {
    font-size: 50px;
    margin: 0;
}
.header nav>ul{
    padding-left: 0;
    display: flex;
    list-style: none;

}
.header nav>ul>li{
    margin-right: 30px;
    cursor: pointer;
    font-size: 25px;
}
.header nav>ul>.activ{
    color: #bb1717;
}