.list-items-content>ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.list-items-content>ul>li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.list-items-content>ul>li:hover {
    background-color: #676666;
}

.list-items-content>ul>li:not(:last-child) {
    border-bottom: 1px solid #676666;
}

.list-items-col {
    padding-left: 0;
}

.list-items-content {
    background-color: #333333;
    border-radius: 6px;
    border: 1px solid #676666;
}