.error-indicator {
    width: 100%;
    text-align: center;
}

.img-error-box {
    text-align: center;
}

.error-indicator>div>h3 {
    font-size: 30px;
    color: #deb235;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
}

.error-indicator>div>p {
    margin: 0;
    font-size: 20px;
    color: #deb235;
}